body {
  background-color: lightgray;
  width: 100%;
}

/* Header container */
.container{
  position: relative;
  text-align: left;
}

h1{
  color: rgb(57, 55, 55);
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 20px; 
  text-align: center;
}

.crop {
max-height: 500px;
  overflow: hidden;
}

#hellofellow{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 30px;
  left: 14%;
  padding: 20px;
  position: absolute;
  top: 40%; 
  transform: translate(-50%, -50%);
  width: 30%;
}

#welcome {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  left: 14%;
  padding: 20px;
  position: absolute;
  top: 50%; 
  transform: translate(-50%, -50%);
  width: 30%;
}

.background {
  opacity: 20%;
  width: 100%;
}

li{
  font-size: 20px;
}

.band{
  margin-left: 30px;
}

.band:link {
  color: black;
  text-decoration: none;
}

.band:visited {
  color: black;
  text-decoration: none;
}

.band:hover {
  color: maroon;
}

#bands{
  background-color: rgb(145, 141, 141);
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  list-style-type: none;
  margin: zero;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnails{
  border: 1px solid black;
  left: 85%;
  height: 520px;
  position: absolute;
  text-align: center;
  top: 675px;
  width: 150px;
  overflow: scroll;
}

.picsofme{
  border: 1px solid gray;
  border-radius: 5px;
  height: 125px;
  /* left: 85%; */
  /* position: absolute;
  top: 570px;*/
  width: 125px;
}

.picsofme:hover{
  box-shadow: 0 0 2px 1px rgba(96, 46, 28, 0.5);
}

p{
  border-radius: 5px;
  border-style: solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 30px;
  padding-top: 20px;
  text-align: left;
  width: 80%;
}

.kexp{
  border-radius: 5px;
  height: 350px;
  width: 350px;
} 

.kexp3{
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  width: 28%;
}

figcaption{
  margin-top: 5px;
  text-align: center;
}

.best{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.box{
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
  padding: 5px;
  text-align: left;
}

#firstlist{
  margin-right: 100px;
}

#secondlist{
  margin-left: 100px;
}

h3{
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.resume{
  margin-bottom: 40px;
  margin-top: 50px; 
  text-align: center;
  width: 100%;
}

.work{
  border-radius: 50px;
  border: 8px solid rgb(156, 152, 152);
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  width: 275px;
}

.contactme{
  font-size: 15px;
  text-align: center;
  min-width: 500px;
}

.contactme li{
  margin: 20px 30px 20px 30px; 
  position: relative;
  display: inline-block;
}

.social{
  background-color: #463d3d46;
    color: black;
    padding: 7px 25px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
}

.social:hover{
  color: maroon;
}

.social:visited{
  text-decoration: none;
}
